$header-color:#1d2631;
   
$width-s-min: 650px;      
$width-m-min: 992px;      
$width-l-min: 1200px;    

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "myriad pro";  
    // адрес шрифта и тип 
    src: local("Myriad Pro"), local("Myriad-Pro"),
        url("../fonts/8143.otf") format("otf");
} 


body{
    font-family: 'Open Sans', Arial, sans-serif;

    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.page-header{
    height: 85vh;
    background: $header-color;
    background: url(../dist/iphone-5-in-hand.png) no-repeat bottom left / contain,
                 url(../dist/background-header.jpg) no-repeat center top;

    .header-nav{
        .header-nav_wrapper{
            height: 10%;

            background-color: #1d2631b3;

            .nav__logo-wrapper a{
                margin: 20px;

                font-size: 42px;
                color: #ffffff;

                text-decoration: none;
                text-shadow: 0 1px 5px #fff;
                
            }

            .header-nav__list{
                list-style-type: none;
            }

            .page-header__logo-image{
                position: absolute;
                top: 20px;
                left: 5%;
            }
        }
    }
        input:checked+.menu__btn-burger>span{
            position: absolute;
            top: 30px;
            right: 20px;

            width: 50px;
            height: 5px;

            border-radius: 10px;

            background-color: white;

            transform: rotate(45deg);

             &::before,
             &::after{
                content: "";

                display: block;
                width: inherit;
                height: inherit;

                border-radius: 10px;

                background-color: white;
             }   
            &::before{
                position: absolute;
                top: 0px;

                transform: rotate(90deg);
            }
            &::after{
                display: none;
                position: absolute;
                top: 26px;
            }        
        }

        .menu__btn-burger{
            position: absolute;

            top: 0%;
            right: 0%;

            display: block;
            height: 65px;
            width: 90px;

            &>span{
                position: absolute;
                top: 15px;
                right: 20px;

                width: 50px;
                height: 5px;

                border-radius: 10px;

                background-color:  white;

                    &::before,
                    &::after{
                        content: "";

                        display: block;

                        width: inherit;
                        height: inherit;

                        border-radius: 10px;

                        background-color: white;
                    }   
                    &::before{
                        position: absolute;
                        top: 13px;
                    }
                    &::after{
                        position: absolute;
                        top: 26px;
                    }
            }          
        }

        .header-nav__list{
            display: none; //при закрытом меню
            position: absolute;

            padding: 0;
            margin: 0;

            width: 100%;

            z-index: 1;
            .site-list__item{
                width: 100%;
                &>a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    width: 100%;
                    height: 65px;

                    font-size: 22px;
                    color: white;
                    text-decoration: none;
                    text-align: center;

                    border: 1px solid #0d0d0d;
                    box-shadow: 0px 0px 2px 0px grey inset;
                    background-color: #283645;
                }
            }
        }

        .burger-menu>input:checked~.header-nav__list{
            display: block;
        }
}

@media (min-width:$width-s-min){
    .page-header{
        height: 730px;
        background: $header-color;
        background: url(../dist/iphone-6.png) no-repeat bottom,
                     url(../dist/background-header.jpg) no-repeat center top/cover;
        .header-nav{ 
            .header-nav_wrapper{
                position: relative;

                height: 80px;
                .nav__logo-wrapper{
                    padding-top: 15px;

                    & a {
                        padding-left: 100px;
                    }

                    &::before{
                        content: "";

                        position: absolute;
                        top: 5px;
                        left: 40px;

                        width: 75px;
                        height: 75px;

                        background: url(../dist/logo-glass.svg) no-repeat center / contain;
                    }
                }
            }
        }

        .menu__btn-burger{

            height: 90px;
            width: 140px;
            
            &>span{
                top: 25px;
                right: 35px;

                width: 70px;
                height: 5px;
            } 
        }
    }
}